*{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Noto Sans Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 1%;
}
header{
    width: 100%;
}
nav{
    height: 15vh;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
nav *{
    margin-top: auto;
    margin-bottom: auto;
}
nav a{
    text-decoration: none;
    color: black;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    font-size: 1.4rem;
    padding: 30px;
}
#imgLogo{
    height: 4rem;
}
#imgCorner{
    height: 4rem;
}
#topLine{
    margin: 0 1% 2% 1%;
    height: 3px;
    background-color:grey;
}
#firstPage{
    display: flex;
    background-color: aqua;
}
#firstPage div{
    margin: auto;
}
#titrPage1{
    font-size: 6em;
}
#passagePage1{
    font-size: 1.2em;
}
#imgp1p2{
    padding: 4em;
    display: block;    
}
#imgp1p3{
    padding: 4em;
    display: block;    
}
#secondPage{
    display: flex;
    background-color: chocolate;
}
#secondPage div div{
    width: 200px;
    height: 200px;
    background-color: azure;
}